<mat-toolbar color="accent">
  <mat-toolbar-row></mat-toolbar-row>
  <mat-toolbar-row></mat-toolbar-row>

  <mat-toolbar-row>
    <span fxFlex></span>
    <span fxFlex fxLayoutAlign="center center">Community Leagues</span>
    <span fxFlex></span>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <span fxFlex></span>
    <button mat-raised-button>
      Join Now
    </button>
    <span fxFlex></span>
  </mat-toolbar-row>

  <mat-toolbar-row></mat-toolbar-row>
  <mat-toolbar-row></mat-toolbar-row>
</mat-toolbar>
