<div fxFlexFill fxLayout="column" fxLayoutAlign="start center" class="primary-light">
  <form [formGroup]="_createLeagueForm">
    <div fxFlex="1 1 auto" fxFlex.xs="1 1 100%">
      <mat-card class="cl__createLeague-card">
        <mat-card-title>
          Create League
        </mat-card-title>
        <mat-card-content>
          <div fxFlexFill fxLayout="column">
            <mat-form-field>
              <input matInput type="text" placeholder="League Name" formControlName="name" required>
            </mat-form-field>
            <mat-form-field>
              <input matInput type="text" placeholder="Address" formControlName="address" required>
            </mat-form-field>
            <div fxLayout="row" fxLayout.xs="column">
              <div fxFlex>
                <mat-form-field>
                  <input matInput type="text" placeholder="City" formControlName="city" required>
                </mat-form-field>
              </div>
              <div fxFlex>
                <mat-form-field>
                    <input matInput type="text" placeholder="State" formControlName="state" required>
                </mat-form-field>
              </div>
              <div fxFlex>
                <mat-form-field>
                    <input matInput type="text" placeholder="Zip" formControlName="zip" required>
                </mat-form-field>
              </div>
            </div>
            <mat-form-field>
              <textarea matInput type="text" placeholder="Description" formControlName="description"></textarea>
            </mat-form-field>
          </div>
          <div *ngIf="_errorMessage">
              <span class="cl__create-error-message">{{ _errorMessage }}</span>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button class="createButton" mat-raised-button type="button" color="accent" (click)="_creatLeage();" [disabled]="!_createLeagueForm.valid">
            Create League
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </form>
</div>
