@import '~@angular/material/theming';

@include mat-core();
$cl-primary: mat-palette($mat-blue-grey, 800);
$cl-accent: mat-palette($mat-blue, 600);
$cl-warn: mat-palette($mat-red);
$cl-theme: mat-light-theme($cl-primary, $cl-accent, $cl-warn);
@include angular-material-theme($cl-theme);